body {
	background-color: #ffbf80;
	padding: 100px;
}

.text {
	color: white;
}

button {
	font-size: 16px;
}

#header {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

#whole {
	position: relative;
}

#info {
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	background-color: #4d4d4d;
	border: solid 3px black;
}

#paragraph {
	font-family: Arial, Helvetica, Sans-Serif;
}

#about {
	font-size: 135%;
}